@import '../Style/variable';

$grid-gap: 1rem;
$height-top: 3rem;
$height-middle: 1fr;
$height-bottom: 12rem;

#Root {
  display: grid;
  justify-items: center;
  grid-gap: $grid-gap;
  grid-template-columns: 1fr;
  grid-template-rows: $height-top $height-middle $height-bottom;
  grid-template-areas:
    "Top"
    "Middle"
    "Bottom";

  max-width: 64rem;
  width: 100%;
  height: 100%;

  margin: 0 auto;
  padding: 1rem;

  overflow-y: hidden;

  > #Layout {
    &.Top, &.Middle, &.Bottom {
      width: 100%;
    }

    &.Top {
      grid-area: Top;
    }

    &.Middle {
      grid-area: Middle;

      padding: 1rem;

      background-color: rgba(255, 255, 255, 0.84);
      border-radius: 0.25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(128, 128, 128, 0.36);

      overflow-y: hidden;

      > #Layout {
        height: 100%;
      }
    }

    &.Bottom {
      grid-area: Bottom;
    }
  }
}
