#Layout.Line {
  display: grid;
  grid-template-columns: 8rem 1fr 4rem;
  grid-template-rows: 1fr;
  grid-gap: 1rem;

  padding-right: 1rem;

  > #Nickname {
    font-weight: 700;

    text-align: right;

    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
  }

  > #Datetime {
    color: hsl(0, 0%, 64%);
  }
}
