@import '../../Style/Variable';

#Layout.Home {
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto 12rem;
  grid-template-areas:
    "UserList RoomList"
    "Character Chatting";
  grid-gap: 1rem;

  > #Layout.UserList {
    grid-area: "UserList";
  }
}
