@import '../../../Style/Variable';

#Layout.RoomList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  width: 100%;

  padding-right: 1rem;

  overflow-y: scroll;

  @import 'Room';
}
